body {
    font-family: 'Playfair Display SC', serif;
    text-shadow: 2px 2px 4px black, 0 0 25px rgb(111, 28, 150);
  }
  
  .jumbotron {
    margin-bottom: 10px !important;
    padding-bottom: 15px !important;
  }
  
  button {
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 50px;
  }
  
  p{
    font-family: 'Bad Script', cursive;
    font-size: 35px;
  }
  
  h3{
    color: white;
    
  }
  
  .App {
    margin-top: 25px;
    background-color:rgba(0,0,0, 0.4);
  }
  
  button {
    margin: 25px !important;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    font-weight: 800;
    width: 160px;
  }
  